.profile {
    text-align: center;
}

.user-img {
    float: left;
    margin: 3%;
}

h6{
    font-size: 1.5rem;
    margin: 1%;
    text-align: left;
}

h1 {
    text-align: center;
}

.user-info {
    margin: 2%;
    margin-left: 350px;
    padding-top: 60px;
}

.img-size {
    height: 200px;
}

